{% extends 'base.html'%}
<body>
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}

<div class="container">
    
        <h1 id="heading">Welcome to pitches</h1>
        <div class='well'>
        <a href={{ url_for('main.create_pitches') }}>Create Pitch</a>
        </div>
{% for word in pitch %}
    <p>{{word.pitch}}</p>
    <a href="/comment/new/{{word.id}}"><button>comments</button></a>
    <button>Upvote</button><button>Downvote</button>
{% endfor %}
</div>    
{% endblock%}
</body>