{% extends 'base.html'%}
<body>
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}

<div class="container">
  

        <h1 id="heading">Welcome to My Blog</h1>
        {% if current_user.is_authenticated %}
        <div class="well">
                <a href={{ url_for('main.create_blogs') }}>New Post</a>
        </div>
        {% else %}
        </p>
        {%endif%}
        
<br>
<br>
    
    <div class="well-lg" id="random">
        <h2>Random Quote</h2> <br>
        <p>{{quote.quote}}</p>
        <p>Author: {{quote.author}}</p> 
    </div>
    
        

        
{% for word in blog %}
    <p>{{word.user.username}}</p>
    <h3>{{word.title}}</h3>
    <p>{{word.blog}}</p>
    <div class="well-sm">
    <a href="/comment/new/{{word.id}}"><button id="but">comments</button></a><br>
    </div>
{% endfor %}
</div>    
{% endblock%}
</body>