{% extends 'base.html'%}
<body>
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}

<div class="container">
    
        <h1 id="heading">Welcome to pitches</h1>
        <div class='well'>
        <a href={{ url_for('main.create_pitches') }}>Create Pitch</a>
        </div>
{% for word in pitch %}
    <p>{{word.pitch}}</p>
    <div class="well-sm">
    <a href="/comment/new/{{word.id}}"><button id="but">comments</button></a><br>
    <button><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqNdXN3wbKLvLD8VnZ_IN5ykRc7r7oJkIwitRpgC9h5vkwiOQ9" height="20"></button><button>Downvote</button>
    </div>
{% endfor %}
</div>    
{% endblock%}
</body>